body{
  background: #000000;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

h1{
  font-weight: 500;
}

footer, .icons-section{
  background: #1E1A13;
}

footer {
  padding: 2.4375rem;
}


footer p {
    font-size: 20px;
    white-space: nowrap;
}


.desc-section{
  display: inline-flex;
  background: #000000;
  padding-top: 4.75rem ;
  padding-bottom: 3.6875rem ;
}


.desc-section-texto{
  width: 29.6875rem;
  text-align: left;
}


.desc-section img{
  padding-left: 6.625rem;
  width: 24.9375rem;
  height: 14.8125rem;
}

.imagenes_iguanas{
  padding-top: 4.5625rem;
  padding-bottom: 4.5625rem;
}


.imagenes_iguanas img{
  width: 19.75rem;
  height: 12.625rem;
  padding-right: 1em;
}

.icons-section{
  padding-top: 4.6875rem;
}

.icons-section h1{
  margin-bottom: 3.125rem;
}


.icon-grid{
  padding-bottom: 4.625rem;
  display: inline-block;
}

.icon-text{
  display: inline-block;
  width: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
