body{
  background: #000000;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

h1{
  text-align: center;
  font-weight: 500;
}

footer, .desc-section{
  background: #1E1A13;
}
